body 
{
  font-family:Arial; 
  background: linear-gradient(to right, #155799, #159957); 
  color:whitesmoke;
}
input[type=text], input[type=password]{
    width: 100%;
    margin: 10px 0;
    border-radius: 5px;
    padding: 15px 18px;
    box-sizing: border-box;
}

form
{
    width: 40rem;
    margin: auto;
    margin-top: 40px;
    backdrop-filter: blur(16px) saturate(180%);
    border-radius: 10px;
    backdrop-filter: blur(16px) saturate(180%);
    border: 2px solid black;
    

}
button
{
    background-color: black;
    color: white;
    padding: 14px,20px;
    border-radius: 6px;
    margin: 7px 0;
    width: 100%;
    font-size: 18px;
}
button:hover
{
    opacity: 0.6;
    cursor: pointer;
}
input
{
    width: 100%;
    border-radius: 5px;
    padding: 15px 18px;
    margin: 10px 0;
    box-sizing: border-box;
}
.forgotpswd
{
    float: right;
    padding-right: 20px;
  
}
.Register
{
    text-align: center;
}
.heading-container
{

    text-align: center;
}
.forgotpswd a
{
    text-decoration: none;
}
.sub
{
    padding-left: 20px;
    padding-right: 20px;
}
