.web
{
    float: right;
    word-spacing: 20px;
   
}

.nav
{
    text-align: center;
    word-spacing: 50px;
    margin-top: 38px;
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    margin-bottom: 30px;
    
    
}

a{
    text-decoration: none;
    color: rgb(14, 13, 13);
}

.logo
{
     margin-left: 530px;
        
}
.wrapper
{
    max-width: 100%;
    overflow: hidden;
}

.marquee
{
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    animation: marquee 30s linear infinite;
}
.marquee p
{
    display: inline-block;
}


@keyframes marquee
{
    0%{
        transform: translate3d(0,0,0);
    }
    100%{
        transform: translate3d(-50%,0,0)
    }
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
body
{
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container
{
    max-width: 1170px;
    margin: auto;
}
.row
{
    display: flex;
    flex-wrap: wrap;
}
ul
{
    list-style: none;

}
.footer
{
    background-color: #6c5a3c;
    padding: 70px,0;
}
.footer-col
{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4
{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
    
    
}
.footer-col h4::before
{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child)
{
    margin-bottom: 10px;
}
.footer-col ul li a 
{
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover
{
    color: white;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: #6c5a3c;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all 0.5s ease;
    
}
.footer-col .social-links a:hover
{
    color: #24262b;
    background-color: white;
}
@media(max-width:574px){
    .footer-col{
        width: 100%;
    }
}